p {
    text-align: right;
    color: #63b5f6;
    width: 135px;
    font-size: 0.8em;
}

span {
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }

  div {
      width: 12px;
      height: 12px;
      background-image: url('../../../assets/images/edit.svg');
      background-repeat: no-repeat;
      background-position: right;
  }

  button {
    width: 100%;
    background: aquamarine;
    border-radius: 3px;
    display: block;
    margin-top: 5px;
  }